.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
}

.main-menu ul li,
.main-menu ul li a {
  display: block;
  width: 130px;
  height: 180px;
}

.main-menu ul li a img {
  width: 100%;
  height: 130px;
  border-radius: 50%;
}

.sermons {
  display: flex;
  justify-content: space-between;
}

.sermons-box a {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  font-size: 64px;
}

.sermons-box a img {
  width: 60px;
  height: 23px;
}

.sermons-box a b {
  font-weight: 800;
}

.sermons-box p {
  font-size: 20px;
}

.sermons-img {
  width: 650px;
  height: 370px;
}

@media screen and (max-width: 768px) {
  .main-menu ul {
    flex-wrap: wrap;
    gap: 70px;
  }
  .sermons {
    flex-direction: column;
  }
  .sermons-box a {
    font-size: 32px;
  }
  .sermons-img {
    width: 100%;
    height: auto;
  }
  .sermons-box p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
