@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Shilla_CultureB-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.gil-church {
  font-family: "Shilla_CultureB-Bold";
}

body {
  font: 16px/1.6 "Pretendard", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1370px;
  margin: 0 auto;
}

#banner {
  height: 250px;
  padding: 0;
  display: flex;
  align-items: center;
}

#banner .title {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

#sec-menu {
  background: #eee;
  padding: 20px 0;
}

.menu-list dl {
  display: flex;
  gap: 20px;
}

.menu-list dl li {
  font-size: 25px;
  font-weight: 500;
  color: #363636b3;
}

#stress {
  font-weight: 800;
  color: #b8860b;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  #sec-menu {
    display: none;
  }

  #banner {
    height: 130px;
  }
  #banner .title {
    font-size: 40px;
    text-align: center;
  }
}
