@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Shilla_CultureB-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.gil-church {
  font-family: "Shilla_CultureB-Bold";
}

body {
  font: 16px/1.6 "Pretendard", sans-serif;
  overflow-x: hidden; /* ADDED: 가로 스크롤 방지 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1370px;
  margin: 0 auto;
}
